.content-item {
    width: 368px;
    padding: 0 0 24px !important;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.content-item img {
    border-radius: 20px;
}